@font-face {
  font-family: "Poppins";
  src: local("Poppins") url("./font/Poppins/Poppins-Black.ttf")
    format("truetype");
}

//RESPONSIVE//
$phone: 576px;
//----------//

@media screen and (max-width: $phone) {
  body,
  html {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background-color: #f1f5fb;
    font-family: "Poppins";
  }

  //APP.JS
  .App {
    display: flex;
    flex-direction: column;
  }

  .greenColor {
    color: green;
  }

  .redColor {
    color: red;
  }

  //MASUK.JS
  .masuk-content {
    img {
      height: auto;
      filter: brightness(30%);
      object-fit: cover;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
    .masuk-box {
      padding: 2em;
      position: absolute;
      top: 50%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      background-color: #f1f5fb;
      width: 100vw;
      border-radius: 20px;
      img {
        width: auto;
        height: 2em;
        display: block;
        margin: 1.5em auto;
      }
      h1 {
        font-weight: bold;
        font-size: 2.5em;
        color: #231f20;
      }
      .input {
        .Input-form {
          margin: 3em 0px;
          display: flex;
          flex-direction: column;
          label {
            font-weight: bold;
            color: #231f20;
          }
        }
        .Input-button {
          button {
            width: 100%;
            padding: 0.8em;
            color: #f1f5fb;
            border: none;
            border-radius: 10px;
            outline: none;
            background-color: #231f20;
          }
        }
      }
    }
  }

  // SIDEBAR.JS
  .sidebar {
    width: 100vw;
    min-height: 100vh;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    z-index: 99;
    right: 0;
    top: 0;
    transform: translateX(100%);
    transition: all 0.5s;
    .open-sidebar {
      position: absolute;
      top: 10%;
      border-radius: 50%;
      left: -13.5%;
      width: 3em;
      height: 3em;
      background-color: #231f20;
      padding: 0.5em;
      svg {
        color: #f1f5fb;
        height: 100%;
        width: 100%;
      }
    }
    .cross {
      width: 3em;
      height: 3em;
      padding: 0.5em;
      svg {
        height: 100%;
        width: 100%;
      }
    }
    .userpicture {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 1.5em 0px;
      svg {
        height: 3em;
        width: auto;
      }
      p {
        margin: 0px;
        font-size: 0.8em;
      }
      b {
        text-transform: capitalize;
        font-size: 0.7em;
      }
    }
    .menu {
      flex: 1;
      span {
        font-size: 0.7em;
      }
    }

    .support {
      padding-bottom: 25px;
      span {
        font-size: 0.7em;
      }
    }
  }
  .sidebar.active {
    transform: translateX(0);
  }

  //HEADER.JS
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5em 1em;
    h1 {
      font-size: 1em;
      font-weight: bold;
      margin: 0px;
    }
    img {
      width: auto;
      height: 1.5em;
    }
    .sidebar-toggle {
      display: none;
    }
  }

  //HOME.JS
  .home-content {
    padding: 1.5em 1em;
    h1 {
      font-size: 1em;
      font-weight: bold;
      margin-bottom: 10px;
      text-transform: capitalize;
    }
    h2 {
      font-size: 0.8em;
      font-weight: normal;
      color: #231f20;
    }
  }
  .box-list {
    .box-up {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      .box {
        background-color: #fff;
        border-radius: 25px;
        width: 100vw;
        display: flex;
        margin: 1em 0em;
        .Info {
          padding: 25px 20px;
          flex: 65%;
          p {
            font-size: 1em;
            font-weight: bold;
          }
          b {
            font-size: 0.8em;
          }
        }
        .icon {
          flex: 1;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          padding-right: 1em;
          svg {
            width: 3em;
            height: 3em;
          }
        }
      }
    }
  }

  //ALLLIST.JS
  .content {
    padding: 1.5em 1em;
    h2 {
      font-size: 1.2em;
      font-weight: bold;
      margin-bottom: 10px;
    }
  }

  //ALLTAMBAH.JS
  .Tambah {
    display: flex;
    flex-wrap: wrap;
    .input {
      display: flex;
      flex-direction: column;
      margin: 25px 0px;
      width: 100%;
      label {
        font-weight: bold;
        margin: 0px;
      }
    }
    .button {
      margin: 20px 0px;
      Button {
        margin: 0px 10px;
      }
    }
  }

  //SHIPPINGBARANG.JS
  .Barang_Shipping {
    .barang-shipping {
      display: flex;
      flex-direction: column;
      width: 100%;
      background-color: #ffffff;
      border-radius: 20px;
      padding: 30px;
    }
  }

  //BARANG-DETAILS.JS
  .barang-confirm {
    display: flex;
    justify-content: center;
    align-items: center;
    .Barang_Confirm {
      padding: 1em;
      background-color: #ffffff;
      border-radius: 20px;
      img {
        width: auto;
        height: 2.5em;
        display: block;
        margin: 0 auto;
      }
      .list-barang {
        padding: 0.8em 0.8em;
        hr {
          opacity: 1;
        }
        li {
          list-style: none;
          h4 {
            font-size: 1em;
            font-weight: bold;
          }
          h5 {
            font-size: 0.8em;
            opacity: 0.7;
          }
        }
      }
      Button {
        display: block;
        margin: 0 auto;
        width: 75%;
      }
    }
  }

  //BARANG-DETAILS.JS
  .beli-barang-details {
    background-color: #fff;
    border-radius: 20px;
    padding: 1em 1em;
    .beli-barang-name {
      b {
        font-size: 1em;
        h5 {
          font-size: 0.8em;
        }
        .stockCounter {
          display: flex;
        }
      }
      .harga-input {
        display: flex;
        flex-direction: column;
      }
    }
  }

  //SETTING.JS
  .setting {
    background-color: #fff;
    border-radius: 15px;
    h2 {
      padding: 1em 1em;
      margin: 0px;
    }
    .profile-details {
      padding: 1em 1em;
      flex-wrap: wrap;
      display: flex;
      justify-content: space-around;
      .input {
        width: 100%;
        label {
          font-weight: bold;
        }
        display: flex;
        flex-direction: column;
      }
    }
  }

  .setting-password {
    margin: 2em 0em;
    background-color: #fff;
    border-radius: 15px;
    width: 100%;
    h2 {
      padding: 30px;
      margin: 0px;
    }
    .password-details {
      padding: 20px 30px;
      .input-password {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 20px 0px;
        .label {
          font-weight: bold;
        }
      }
    }
  }

  //InvoiceOrder
  .invoice-print {
    .invoice {
      background-color: #ffffff;
      padding: 1.5em;
      .header-invoice {
        .invoice-number {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          h1 {
            font-size: 1em;
            font-weight: bold;
            margin: 0px;
          }
          h5 {
            font-size: 0.8em;
            margin: 0px;
          }
        }
        .invoice-image {
          flex: 1;
          img {
            height: 2em;
          }
        }
      }
      hr {
        opacity: 1;
        background-color: #000;
      }
      .order-sell-invoice {
        h5 {
          font-size: 0.8em;
          margin: 0px;
          font-weight: bold;
          margin-bottom: 5px;
        }
      }
      .list-invoice {
        table {
          width: 100%;
          tr {
            th {
              padding: 10px;
              background: #f1f5fb;
            }
            td {
              padding: 10px;
            }
          }
        }
      }
    }
  }
}
